.departmentGroup__item{
    border: 2px solid #686868;
    position: relative;
    left: 600px;
    bottom: 85px;
    color: #696158;
}
.searchBarInnerContainer{
    position: relative;
    left: 700px;
    bottom: 87px;
    width: 350px;
}
@media screen and (max-width: 768px) {
    .departmentGroup__item {
        position: relative;
        left: 88px;
        bottom: 178px;
    }
    .searchBarInnerContainer {
        position: relative;
        left: -170px;
        bottom: 87px;
    }
}