.quickOrder__title{
    margin-top: 40px;
}
.quickOrder__label{
    margin-right: 15px;
}
.quickOrder__input{
    border-radius: 0;
    border: 2px solid #686868;
    width: 100px;
    height: 30px;
}
.quickOrder__button{
    background-color: #E42437;
    color: white;
    padding: 10px;
    font-size: 12px;
    border-radius: 0;
    border-color: #E42437;
    box-shadow: none;
    position: relative;
    left: 350px;
    bottom: 35px;

}
@media screen and (max-width: 768px){
    .quickOrder__title{
        position: relative;
        bottom: 250px;
        left: 30px;
    }
    .quickOrder__label{
        position: relative;
        bottom: 250px;
        left: 65px;
    }
    .quickOrder__input{
        width: 200px;
        margin-top: 10px;
        position: relative;
        left: 80px;
        bottom: 250px;
    }
    .quickOrder__button{
    position: relative;
    left: 80px;
    bottom: 240px;
    width: 200px;
    }
}