.clearLink--product__card{
    width: 208px;
    height: 450px;
}   
.imageWrapper{
    width: 100px;
    height: 100px;
}
.nameContainer{
    width: 200px;
    height: 40px;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #696158;
    margin: 5px 0px;
}
.element--product__card{
    align-items: center;
    height: 480px;
    
}

.SKUSelectorContainer{
    visibility: hidden;
    height: 0px;
}
@media screen and (max-width: 768px){

}