.paginationDotsContainer--home__slider{
    transform: translateY(35px);
    
}
.paginationDot--home__slider{
    background: white;
    border: 1px solid #696158;
    margin: 5px 7px;
    padding: 7px;
}
.paginationDot--home__slider--isActive{
    background: #696158; 
}
.slideChildrenContainer--bullet-group{
    margin: 20px;
    align-items: center;
}
.slideChildrenContainer--bullet-group:hover{
    box-shadow: 2px 2px 5px 5px #75787a;
}
.bullet__item--title--bullet-group{
    font-weight: 700;
    font-size: 16px;
    color:#696158;
    text-decoration: none;
    text-align: center;
}
.sliderArrows--bullet-group{
    color: #75787a;
    margin: -2.75em;
}
.sliderLayoutContainer--home__slider--products-desktop{
    margin: 20px;
}

.sliderArrows--home__slider--products-desktop{
    color: #75787a;
    margin: -1.70em;
   
}
.slideChildrenContainer--home__slider--products-desktop{
    height: 350px;
    margin: 20px;
    align-items: center;
    
}
.slideChildrenContainer--home__slider--products-desktop:hover{
    box-shadow: 2px 2px 5px 5px #75787a;
}
.slideChildrenContainer--home__slider--products-desktop :global(.vtex-button){
    font-size: 10px;
    width: 180px;
    border-radius: 0;
    visibility: hidden;
}
.slideChildrenContainer--home__slider--products-desktop:hover :global(.vtex-button){
    visibility: visible;
}