.paragraph--titleCollection{
    color:#696158 ;
    font-size: 21px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 0;
}
.paragraph--paragraphCollection{
    margin: 0px 0px 45px;
    padding: 0;
    font-weight: 100;
    font-size: 17px;
    color: #696158;
}
.paragraph--titleBuyOnline{
    font-size: 16px;
    color: #696158;
    margin: 0px 0px 10px;
}
.paragraph--descriptionBuyOnline{
    font-size: 14px;
    color: #696158;
    margin: 0px 0px 10px;
    padding: 0px 20px;
}
.paragraph--title__shelf{
    color: #696158;
    font-size: 21px;
    text-align: center;
    margin: 36px 0 1rem;
    margin-bottom: 50px;
    font-weight: 400;
}
.paragraph--user_questions{
    font-size: 10px;
    color: #696158;
    margin-left: 18px;
}
.paragraph--need_help{
    font-size: 10px;
    color: #696158;
    margin-right: 10px;
}
.paragraph--search_buy{
    font-size: 14px;
    color: #696158;
    padding: 0 auto;
}
.container--user_questions, .container--search_buy, .container--need_help{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.paragraph--birthday__discount{
    width: 550px;
    height: 44px;
    font-size: 19px;
    color: #686058;
    font-weight: 400;
}

