.paragraph--titleCollection{
    color:#696158 ;
    font-size: 21px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 0;
}
.paragraph--paragraphCollection{
    margin: 0px 0px 45px;
    padding: 0;
    font-weight: 100;
    font-size: 17px;
    color: #696158;
}
.paragraph--titleBuyOnline{
    font-size: 16px;
    color: #696158;
    margin: 0px 0px 10px;
}
.paragraph--descriptionBuyOnline{
    font-size: 14px;
    color: #696158;
    margin: 0px 0px 10px;
    padding: 0px 20px;
}
.paragraph--user_questions,.paragraph--need_help{
    font-size: 10px;
    color: #696158;
}
.paragraph--search_buy{
    font-size: 14px;
    color: #696158;
}
