.flexRow--home__container{
    box-sizing: border-box;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.flexRow--homeCollection {
    margin-top: 30px;
}
.flexCol--img_Box{
    margin: 12px;

}
.flexRow--second__section--collection{
    margin: 45px;
    width: 90%;
}
.flexRow--home__shelf--container{
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 100%;
    z-index: 20;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: normal;
    text-decoration: inherit;
    min-width: 500px;
}

