.trigger--switch-country--hidden{
    position: relative;
    left: 60px;
    width: 113px;
    height: 32px;
    border: 1px solid #696158;
    bottom: 26px;
    border-radius: 0;
}
.trigger--switch-country--visible{
    position: relative;
    left: 60px;
    bottom: 26px;
    width: 113px;
    height: 32px;
    border: 1px solid #696158;
    
    border-radius: 0;
}
.content--visible{
    position: absolute;
    
}