.flexCol--container__col--one{
    width: 41%;
    padding-left: 20px;
    padding-right: 30px;
}
.flexRow--footer__paragraph{
    width: 41%;
}
.flexCol--container__col--two{
    font-size: 12px;
    color: #686068;
}
.flexColChild--container__col--one{
    width: 23%;
}
.flexRow--container__section--footer{
    border-top: 1px solid #686058;
}