.imageElement--image__gift{
    width: 120px;
    height: 80px;
    margin-right: 170px;

}
@media screen and (max-width: 768px) {
    .imageElement--image__gift{
        position: relative;
        right: 10px;
        top: 77px;
    } 
    .logoImage--footer__logo{
        visibility: hidden;
    }
}