.paragraph--titleCollection--mobile{
    font-size: 28px;
    margin-bottom: 0px;
}
.paragraph--paragraphCollection--mobile{
    font-size: 14px;
    margin-top: 0px;
}
.paragraph--title__shelf{
    position: relative;
    bottom: 170px;
}