
.flexCol--homeCollection--mobile{
    margin-top: 100px;
}
.flexRow--text__buy--collection--mobile{
    position: relative;
    bottom: 230px;
}
.flexRow--title__shelf--mobile{
    position: relative;
    bottom: 170px;
}